.analysis {
  margin-bottom: 50px;

  a {
    color: #333;
    text-decoration: none;
    padding-bottom: 5px;

    &:hover {
      color: #fd746c;
      text-decoration: none;
      border-bottom: 0;
    }
  }

  footer {
    display: block;
    margin: 50px 50px 0 50px;
    padding-top: 20px;
    font-weight: 200;
    font-size: 14px;
    color: #aaa;
    padding-bottom: 50px;
    border-top: 1px solid #ddd;

    a {
      border-bottom: 1px dotted #333;
    }
  }

  .overall-performance {
    display: block;
    margin: 50px 50px 0 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;

    .overall-performance-graph {
      padding: 20px;

      .ct-label {
        font-size: 12px;
      }
    }

    .overall-performance-data {
      h2 {
        font-weight: 600;
        font-size: 25px;
      }

      .result {
        font-weight: 200;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 10px;
      }

      .loss {
        color: red;
      }

      .profit {
        color: green;
      }
    }
  }

  sup {
    vertical-align: text-top;
  }

  .currency {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 10px;
  }

  .commissions {
    margin-bottom: 10px;

    h6 {
      color: #777;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      font-weight: 200;
    }
  }

  .stock {
    display: inline-block;
    margin: 50px 50px 0 50px;

    .stock-name {
      font-weight: 600;
      font-size: 25px;
    }

    .stock-result {
      font-weight: 200;
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: 10px;

      &.loss {
        color: red;
      }

      &.profit {
        color: green;
      }

      &.no-sell {
        color: #777;
      }
    }
  }
}