.react-application-container {
  width: 100%;
  height: 100%;
}

.landing {
  text-align: center;
  padding-top: 30px;

  &.promo {
    background: url(/images/using-app.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    margin: 0 0 40px 0;
    line-height: 70px;
  }

  strong {
    font-weight: 400;
    border-bottom: 1px solid #000;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;

    &.how-to-use {
      display: inline-block;
      border: 1px dashed #ccc;
      padding: 30px;
      border-radius: 10px;
      font-weight: 200;
      background-color: #f9f9f9;

      p {
        margin-top: 30px;

        small {
          display: block;
          font-weight: 200;
          font-size: 16px;
          text-transform: initial;
          margin-top: 20px;
        }
      }
    }
  }

  small {
    text-transform: uppercase;
    font-size: 30px;
  }

  table {
    font-size: 20px;
    font-family: monospace;
    text-align: left;
    color: #333;
    margin: 20px 0;

    th {
      font-weight: normal;
    }

    td {
      font-size: 16px;
    }
  }

  h3 {
    font-weight: 200;
    margin: 40px 0 40px 0;
    font-size: 20px;
    line-height: 30px;
  }

  a {
    color: #388E3C;
    text-decoration: none;
    border-bottom: 1px dotted #388E3C;
    padding-bottom: 5px;

    &:hover {
      text-decoration: none;
      border-bottom: 0;
    }
  }

  .btn-danger {
    background-color: #4CAF50;
    border-color: #388E3C;

    &:hover {
      background-color: #388E3C;
    }
  }

  .logo {
    display: inline-block;
    font-size: 100px;
    margin: 0;

    img {
      width: 100px;
    }
  }

  form {
    margin: 20px 0;
  }

  [type="radio"] {
    margin-top: 14px;
  }

  label {
    font-size: 30px;
    font-weight: normal;
    vertical-align: middle;
    margin-bottom: 0;
  }

  select {
    vertical-align: middle;
  }

  input {
    font-size: 20px;
  }

  option {
    font-size: 26px;
    text-align: center;
    padding: 5px;
  }

  .form-inline {
    margin: 0 0 40px 0;

    .no-commissions-button {
      margin-left: 5px;
    }
  }

  .radio-inline {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;

    span {
      padding-left: 5px;
      font-weight: 200;
    }
  }

  p {
    font-size: 20px;
    font-weight: 200;
  }

  footer {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
  }

  .robinhood-login-form {
    border: 1px dashed #ccc;
    border-radius: 10px;
    padding: 40px;
    background-color: #f9f9f9;
    text-align: left;

    .icon {
      width: 100px;
      text-align: center;
      margin: 0 auto;
    }

    h3 {
      margin: 0;
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
    }

    label {
      font-weight: 200;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .not-saving-login-message {
      font-size: 14px;
      color: #777;

      strong {
        text-decoration: none;
        border: none;
        font-style: italic;
      }

      a {
        color: #000;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .submit-button-container {
      text-align: center;

      button {
        margin-top: 10px;
      }
    }
  }

  .getting-robinhood-data {
    display: inline-block;
    background-color: #fff;
    font-size: 40px;
    padding-top: 30px;

    img {
      width: 100%;
      margin-top: 20px;
      border-radius: 20px;
    }

    p {
      margin-top: 40px;
      font-size: 30px;
    }
  }

  .or {
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-size: 30px;
    font-weight: 200;
    line-height: 45px;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .feature {
    p {
      font-size: 26px;
      margin: 0;
      margin-top: 10px;
    }
  }
}